@font-face { 
    font-family: hanyi23; 
    src: url('../resources/font/hanyi23.ttf'); 
} 
@font-face { 
    font-family: hanyi335; 
    src: url('../resources/font/hanyi335.ttf'); 
} 
.hanyi23{
    font-family:hanyi23;
}
.em1{
    font-size:1em;
}
.em15{
    font-size:1.5em;
}
.em2{
    font-size:2em !important;
}
.em25{
    font-size:2.5em !important;
}
.em3{
    font-size:3em !important;
}
.hanyi335{
    font-family:hanyi335;
    color:#fff;
}
.fff{
    color:#fff;
}
.pink{
    color:pink;
}
.yellow{
    color:yellow;
}
.blue{
    color:#3239C9;
}
.bgfff{
    background:#fff;
}
.center{
    text-align:center;
}

ul{
    list-style:none;
    margin:0;
    padding:0;
}

/*背景音乐*/
.bgmusic{
    position: absolute;
    right: 20px;
    top: 25px;
    width:2em;
    height:2em;
    border-radius: 50%;
    background:url(../images/normalmusic.svg)no-repeat;
    background-size:cover;
}
.bgmusic1{
    float:right;
    margin-right:1em;
    width:1.5em;
    height:1.5em;
    border-radius: 50%;
    background:url(../images/normalmusic.svg)no-repeat;
    background-size:cover; 
}
/*导航图片，导航第一页*/
.swiper-slide{
    background: url(../images/stars.jpg);
    background-size:cover;
    .title{
        position:releative;
    }
}
.rarrow{
            position:absolute;
            right:0;
            top:50%;
        }
//导航第二页
.photoku{
    padding: 12px;
    width:4em;
    height:4em;
    margin:30px;
    background:url(../images/photo-png.png)no-repeat #fff;
    background-size:100% 100%;
    .guid-photo{
        width:4em;
        height:4em;
        background:url(../images/photo.jpg);
        background-size:cover;
        border-width:11px;
        border-color:#8ba2c1  #5890bf  #4f93ca  #768fa5;
    }
}
.basic_info{
    display:block;
    margin:30px;
}
.circle{
    p{
        width:40px;
        height:40px;
        border-radius:50%;
        border:2px solid #fff; 
        float:right;
    }
}
#scroller{
    ul{
        li{
            height:70px;
            display:flex;
            flex-direction:row;
            align-items:center;
            .first{
                width:3.5em;
                height:3.5em;
                border:1px solid #ccc;
                img{
                    width:3.5em;
                    height:3.5em;
                }
              };
            .two{ 
                margin:0;
                padding:0;
                padding-left:5px;
                .category{
                    color:#000;
                    font-size:1em;
                    margin:0;
                    padding:0;
                    display:block;
                }
                .name{
                    color:#484848;
                }
              
            }
        }
    }
}
//内容顶部的设置
#header{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    div{
        flex:1;
    }
    .photo{
        img{
            width:40px;
            height:40px;
            border-radius:50%;
            background:yellow;
        }
    }
}
#footer{
    ul{
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        li{
            flex:1;
            font-family:hanyi335;
            color:#ccc;
            span{
                display:block;
                text-align:center;
                .iconfont{
                    font-size:20px;
                }
            }
        }
        .tab-active{
            color:#0C76D8;
           text-shadow:1px 1px 1px  #EEEC46;
        }
    }
}
.button{
    font: 15px Calibri, Arial, sans-serif;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
    text-decoration: none !important;
    white-space: nowrap;
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    cursor: pointer;
    padding: 5px 20px;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-image: url(../images/button_bg.png);
    background-position: bottom left, top right, 0 0, 0 0;
    background-clip: border-box;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 0 1px #fff inset;
    -webkit-box-shadow: 0 0 1px #fff inset;
    box-shadow: 0 0 1px #fff inset;
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;
    color:#fff;
}

.content{
    display:none;
}
.show{
    display:block;
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: 0;
    width: 100%;
    overflow: hidden;
}

//基本信息模块
.me{
    background:#000;
}
.me-photo{
    transform:rotate(-72deg);
    img{
        width:6em;
        height:6em;
        border:4px solid;
        border-color:#f08080 #D3D8E0 #f08080 #4F7FC9;
    }
}
.basic{

    .basic-icon{
        display:inline-block;
        width:25px;
        height:25px;
        background:url(../images/info.png)no-repeat #000 0 center;

    }
}
.info{
    display:flex;
    flex-direction:column;
    p{
        display:flex;
        margin-top:27px;
        flex-direction:row;
        span{
           flex:1;
        }
    }   
}
.book{
    animation-name: fadeIn;
    animation-duration:2s;
    animation-delay: 1s;
    animation-iteration-count:infinite;
    img{
        width: 150px;
        height: 150px;
    }
}
.edu{
    animation-name: fadeIn;
    animation-duration:2s;
    animation-delay: 0s;
    animation-iteration-count:infinite;
    img{
        width: 150px;
        height: 150px;
    }
}
/*work模块*/
.work{
    flex-direction:column;
    overflow:auto;
    background:rgb(0,0,0);
    font-family:hanyi335;
    color:#fff;
}
.work-name{
    padding-left:20px;
}
.work-category{
    padding-left:20px;
}
.work-time{
    padding:0 20px;
}
.line{
    width:100%;
    height:25px;
    background:url(../images/line.png) no-repeat;
    background-size:100% 100%;
}
.school-logo{
    display:flex;
    flex-direction:row;
    img{
        width:4.5em;
        height:4.5em;
        border-radius:50%;
        margin-left:20px;
    }
}
.project{
    color:#fff;
    padding-top:10px;
    font-family:hanyi335;
    background:#000;
    .project-top{
        width:17em;
        color:#000;
        margin:0 auto;
        padding: 10px 17px;    padding: 10px 17px;
        font-family:hanyi23;
        font-size:1.3em;
        background:url(../images/project-png.png)no-repeat #fff;
        background-size: 135% 128%;
        background-position-x: -61px;
        transform: rotate(2deg);
        background-position-y: 1px

    }
}