@charset "UTF-8";
@font-face {
  font-family: hanyi23;
  src: url("../resources/font/hanyi23.ttf"); }

@font-face {
  font-family: hanyi335;
  src: url("../resources/font/hanyi335.ttf"); }

.hanyi23 {
  font-family: hanyi23; }

.em1 {
  font-size: 1em; }

.em15 {
  font-size: 1.5em; }

.em2 {
  font-size: 2em !important; }

.em25 {
  font-size: 2.5em !important; }

.em3 {
  font-size: 3em !important; }

.hanyi335 {
  font-family: hanyi335;
  color: #fff; }

.fff {
  color: #fff; }

.pink {
  color: pink; }

.yellow {
  color: yellow; }

.blue {
  color: #3239C9; }

.bgfff {
  background: #fff; }

.center {
  text-align: center; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/*背景音乐*/
.bggif {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 20px;
  top: 25px;
  background: url(../images/bgmusic.gif) transparent no-repeat center center;
  background-size: contain; }

.bgmusic {
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  background: url(../images/normalmusic.svg) no-repeat;
  background-size: cover; }

.bgmusic1 {
  float: right;
  margin-right: 1em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: url(../images/normalmusic.svg) no-repeat;
  background-size: cover; }

/*导航图片，导航第一页*/
.swiper-slide .title {
  position: releative; }

.rarrow {
  position: absolute;
  right: 0;
  top: 50%; }

.photoku {
  padding: 12px;
  width: 4em;
  height: 4em;
  margin: 30px;
  background: url(../images/photo-png.png) no-repeat #fff;
  background-size: 100% 100%; }
  .photoku .guid-photo {
    width: 4em;
    height: 4em;
    background: url(../images/photo.jpg);
    background-size: cover;
    border-width: 11px;
    border-color: #8ba2c1  #5890bf  #4f93ca  #768fa5; }

.shuizhu {
  width: 250px;
  height: 200px;
  background: url("../images/shuizhu3.png") no-repeat;
  background-size: cover; }

.basic_info {
  display: block;
  margin: 30px; }

#scroller ul li {
  display: flex;
  flex-direction: row;
  align-items: center; }
  #scroller ul li .first {
    width: 3.5em;
    height: 3.5em;
    border: 1px solid #ccc; }
    #scroller ul li .first img {
      width: 3.5em;
      height: 3.5em; }
  #scroller ul li .two {
    margin: 0;
    padding: 0;
    padding: 5px 5px 5px 8px; }
    #scroller ul li .two .category {
      color: #000;
      font-size: 1em;
      margin: 0;
      padding: 0;
      display: block; }
    #scroller ul li .two .name {
      color: #484848; }

#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  #header div {
    flex: 1; }
  #header .photo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: yellow; }

#footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  #footer ul li {
    flex: 1;
    font-family: hanyi335;
    color: #ccc; }
    #footer ul li span {
      display: block;
      text-align: center; }
      #footer ul li span .iconfont {
        font-size: 20px; }
  #footer ul .tab-active {
    color: #0C76D8;
    text-shadow: 1px 1px 1px  #EEEC46; }

.button {
  font: 15px Calibri, Arial, sans-serif;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  text-decoration: none !important;
  white-space: nowrap;
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  cursor: pointer;
  padding: 5px 20px;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-image: url(../images/button_bg.png);
  background-position: bottom left, top right, 0 0, 0 0;
  background-clip: border-box;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 0 1px #fff inset;
  -webkit-box-shadow: 0 0 1px #fff inset;
  box-shadow: 0 0 1px #fff inset;
  -webkit-transition: background-position 1s;
  -moz-transition: background-position 1s;
  transition: background-position 1s;
  color: #fff; }

.add {
  text-align: right; }

.content {
  display: none; }

.show {
  display: block;
  position: absolute;
  z-index: 1;
  top: 45px;
  bottom: 48px;
  left: 0;
  width: 100%;
  overflow: hidden; }

.me-photo {
  transform: rotate(-72deg); }
  .me-photo img {
    width: 6em;
    height: 6em;
    border: 4px solid;
    border-color: #f08080 #D3D8E0 #f08080 #4F7FC9; }

.basic .basic-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../images/info.png) no-repeat #000 0 center; }

.info {
  display: flex;
  flex-direction: column; }
  .info p {
    display: flex;
    margin-top: 27px;
    flex-direction: row; }
    .info p span {
      flex: 1; }

.book {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite; }
  .book img {
    width: 150px;
    height: 150px; }

.edu {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: infinite; }
  .edu img {
    width: 150px;
    height: 150px; }

/*work模块*/
.skillli {
  min-height: 80px !important; }

.workli {
  display: flex;
  min-height: 120px !important;
  flex-direction: column !important;
  background: url(../images/stars.jpg);
  background-size: cover;
  border: 0px !important;
  font-family: hanyi335;
  color: #fff;
  padding: 5px 30px 5px 30px; }
  .workli .work-category {
    align-self: flex-start;
    padding: 15px 0px 5px 50px; }
  .workli .school-logo {
    align-self: flex-start;
    padding: 5px 0px 5px 50px; }
  .workli .work-time {
    align-self: flex-start;
    padding: 5px 0px 15px 50px; }
  .workli .work-people {
    align-self: flex-start;
    padding: 5px 0px 15px 50px; }

.pic {
  display: block;
  padding: 5px;
  border: 2px solid #5CBEF5;
  border-radius: 10%; }
  .pic .bigpic {
    width: 300px;
    height: 160px;
    border-radius: 10%; }

.projectli {
  background: url(../images/stars.jpg);
  background-size: cover;
  flex-direction: column !important;
  padding: 20px 50px 20px 50px !important;
  justify-content: flex-start !important;
  border: 0px !important;
  color: #fff;
  font-family: hanyi23 !important;
  font-size: 20px; }
  .projectli p {
    margin-top: 10px; }
  .projectli .url {
    font-size: 14px;
    color: #FFE100; }

.meli {
  background: url(../images/stars.jpg);
  background-size: cover;
  flex-direction: column !important;
  padding: 20px 20px 20px 20px !important;
  justify-content: flex-start !important;
  border: 0px !important;
  color: #fff !important;
  font-family: hanyi335;
  font-size: 16px !important; }
  .meli p {
    margin-top: 10px;
    margin-bottom: 10px; }
    .meli p span {
      display: inline-block;
      margin: 0px 20px 0px 15px; }
  .meli .weixin {
    width: 11em;
    height: 11em;
    border: 4px solid;
    border-color: #f08080 #D3D8E0 #f08080 #4F7FC9; }
